setuptools>=62.2.0
numpy>=1.23
torch>=1.11
torchsummary>=1.5.1
torchvision>=0.13
matplotlib>=3.6.3
torchmetrics>=0.4.1
tqdm>=4.58.0
h5py>=3.1.0
plotly>=5.3.1
dill>=0.3.4
einops>=0.3.0
pandas>=1.2.3
networkx==3.0
scikit-image>=0.18.1
scikit-learn>=0.24.1
scipy>=1.8.1
tifffile>=2021.2.26
torchmetrics>=0.11.0
qlty>=0.1.7
typing>=3.7.4.3
jedi>=0.10
connected-components-3d
pytorch-lightning
sphinx==7.2.6
nbsphinx
lxml_html_clean
nbsphinx-link
m2r
papermill
umap-learn>=0.5.3
kaleido
zarr
sphinx_rtd_theme
